code.r.innerCode {
  margin-top: -10px;
  margin-bottom: -10px;
  padding-top: -10px;
  padding-bottom: -10px;
  font-size: 10px;
  line-height: 1em;
}

slide.codefont2 {
  font-size: 9px;
  line-height: 1em;
}

code.no-highlight {
  color: #828282;
  margin-top: -50px;
  line-height: 1em;
}
